/* Root styling */
/* ===================================================================================================================================== */
/* define variable colors */
:root {
  --black: rgba(28, 29, 33, 1);
  --blue-gray: rgba(68, 88, 119, 1);
  --dark-gray: rgba(49, 52, 61, 1);
  --dark-green: rgba(0, 104, 72);
  --gray:rgba(200, 200, 201, 0.518);
  --light-gray:rgba(238, 238, 247, 0.4);
  --white: rgb(255, 255, 255);
  --white-transparent: rgba(255, 255, 255, 0.7);
  --yellow: rgba(255, 218, 113, 1);
  --light-yellow: rgb(255, 239, 194);
  --hover-opacity: 0.9;
  font-size: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
