@import '../App.css';
@import './Home.module.css';

.cardHeader {
  composes: cardHeader from "./Home.module.css";
}

.cardBody {
  composes: cardBody from "./Home.module.css";
}

.cardButton {
  composes: cardButton from "./Home.module.css";
  margin: 0 5px 0 5px;
}

.cardDeleteButton {
  font-weight: 700;
  min-width: 85px;
}

.cardFooter {
  composes: cardFooter from "./Home.module.css";
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}