@import '../App.css';

.cardDivider {
  height: 2px;
  margin-bottom: 7px;
  background-color: var(--gray);
}

.cardSubSection {
  font-size: 12px;
}

.stockHeader {
  text-decoration: none;
  color: var(--dark-gray);
  transition: all 0.3s ease-in;
}

.stockHeader:hover {
  text-shadow: 0 0 1.9px var(--yellow), 0 0 1.9px var(--yellow), 0 0 1.9px var(--yellow);
}

.commentHeader {
  background-color: var(--light-yellow);
  font-weight: 600;
}

.commentBody:hover {
  background-color: var(--light-gray);
  font-weight: 500;
}