@import '../App.css';

header{
  background-color: var(--dark-gray);
  border-bottom: solid 3px var(--yellow);
  width: 100%;
  padding: 5px 6% 5px 0;
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 2.0rem;
  font-weight: 350px;
  position: fixed;
  z-index: 100;
}

/* style left section container of header for the 'Josh Lutz' name */
.leftSection{
  display: flex;
  align-items: center;
  color: var(--dark-gray);
  font-size: 1.0em; 
  margin-left: 20px;
  /* padding: 2px 0 2px 35px; */
  line-height: 1;
}

/* style the middle section container of header housing the nav links */
.middleSection{
  /* position: relative; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex: 0 0 732px 0;
  margin-left: -80px;
  /* padding: 0 0 0 16px; */
}

/* style the middle section container of header housing the nav links */
.rightSection{
  min-width: 25px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  /* padding: 2px 18px 0 0; */
}

.headerIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.hamburgerMenu {
  width: 22px;
  align-items: center;

}


.title {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: "Rubik Mono One", sans-serif;
  margin: 0;
  top: 50%;
  padding-left: 1rem;
}

.search {
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 6px;
  width: 50%;
  background-color: rgb(42, 42, 42);
  color: white;
  height: 30px;
}

.profile {
  margin: 1rem; /* add margin to profile button */
}

.profileImage {
  width: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.profileImage:hover {
  transition: all 0.3s ease-in;
  background-color: var(--black);
  border-radius: 30% 30% 0 0;
  filter: grayscale(50%);
}

@media screen and (max-width: 1200px) {
  .search {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: auto;
    margin: 0;
  }
  .containerRight {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
  }

  .containerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .search {
    width: 65%;
  }
}
